{% extends "admin/base_site.html" %}

{% block extrastyle %}
<style>
    :root {
        --accent: white;
        --header-bg: #262860;
        --header-color: white;
        --primary: #262860;
        --secondary: #262860;
        --link-fg: #1db3e7;
        --link-selected-fg: #17a3d4;
        --selected-row: #dde4f2;
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --body-fg: #ddd;
            --primary-fg: #ddd;
            --selected-row: #1c3a48;
        }
    }

</style>

<style type="text/css">
    body:before {
        display: block;
        line-height: 35px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        content: "{{ ENVIRONMENT_NAME }}";
        background-color: {{ ENVIRONMENT_COLOR }};
    }
</style>
{% endblock %}
